html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(to right, #84de2e, #6cdc2d);
  color: #fff;
  min-width: 318px;
  width: 100%;
  min-height: 100%;
  position: relative;
}
